body{
margin: 0;
min-height: 180px;
padding: 0;
width: 384px;
background-image: url(background.png);
font-family: 'Roboto', sans-serif;
}

.link{
  font-size: 40px;
  text-align:center;
  padding-top: 40px;
}

i{
  padding: 0px 3%;
}

a{
  color: #fff;
}

i:hover{
  opacity: .7;
}

.heading{
  text-align: center;
  color: #fff;
}
